*{
    margin: 0;
    box-sizing: border-box;
}
 h1{
   position: absolute;
   margin-top: 30px;
   font-size: 20px;
   color: red;
 }
main{
    width: 500px;
    height: 600px;
    border: 2px solid black;
    margin: auto;
    margin-top: 30px;
    display: flex;
     justify-content: center;
    
     /* flex-wrap: wrap;  */
}

input{
    border: 2px solid black;
}


::placeholder{
    color: red;
}

button{
    position: absolute;
    width: 300px;
    border-radius: 5px;
    color: red;
    height: 30px;
    top: 500px;
}

button:hover{
 background-color: blue;
}

.name{
    position: absolute;
    top: 200px;
    left: 600px;
    width: 300px;
    height: 30px;
   
}

.email{
    position: absolute;
    top: 250px;
    left: 600px ;
    width: 300px;
    height: 30px;
}

.subject{
    position: absolute;
    top: 300px;
    left: 600px;
    width: 300px;
    height: 30px;


}

 textarea{
    position: absolute;
    top: 350px;
    left: 600px;
    width: 300px;
    height: 100;
    border: 2px solid black;
}

 
